.n_tbdr{
    border: 1px dashed black;
}
header{
    height: 80px;
    width: 98%;
    margin: auto;
}
ul>li>a:hover{
    background-color: #EDEDED;
    cursor: pointer;
    border-radius: 5px;
}
.n_menu>li:hover ul{
    display: block;
}
.n_submenu{
    width: 115px;
    display: none;
}
main{
    height: 2570px;
}
.mt-5.n_mt-5{
    margin-top: 4.8rem !important;
} 
.footer1{
    height: 114px;
}
.footer2{
    height: 1436px;
}
.footer3{
    height: 300px;
}
.footer4{
    height: 100px;
}
